@charset "UTF-8";
@font-face {
  font-family: "avenir_roman";
  src: url("../../fonts/avenirltstd-roman-webfont.woff2") format("woff2"), url("../../fonts/avenirltstd-roman-webfont.woff") format("woff"), url("../../fonts/avenirltstd-roman-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "avenir_medium";
  src: url("../../fonts/avenirltstd-medium-webfont.woff2") format("woff2"), url("../../fonts/avenirltstd-medium-webfont.woff") format("woff"), url("../../fonts/avenirltstd-medium-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "avenir_light";
  src: url("../../fonts/avenirltstd-light-webfont.woff2") format("woff2"), url("../../fonts/avenirltstd-light-webfont.woff") format("woff"), url("../../fonts/avenirltstd-light-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "avenir_book";
  src: url("../../fonts/avenirltstd-book-webfont.woff2") format("woff2"), url("../../fonts/avenirltstd-book-webfont.woff") format("woff"), url("../../fonts/avenirltstd-book-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "avenir_black";
  src: url("../../fonts/avenirltstd-black-webfont.woff2") format("woff2"), url("../../fonts/avenirltstd-black-webfont.woff") format("woff"), url("../../fonts/avenirltstd-black-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "avenir_heavy";
  src: url("../../fonts/avenirltstd-heavy-webfont.woff2") format("woff2"), url("../../fonts/avenirltstd-heavy-webfont.woff") format("woff"), url("../../fonts/avenirltstd-heavy-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
[data-theme=dark] {
  --colors-primary-text: #f9f9f9;
  --colors-text: #c0c0c0;
  --colors-bg-main: #242d36;
  --colors-bg-filter: #2d3742;
  --colors-btn-select: #404f5d;
  --colors-btn-select-hov: #394553;
  --colors-rating-text: #f9f9f9;
  --shadow: rgb(20, 29, 38) 0px 0px 8px;
}

[data-theme=light] {
  --colors-primary-text: #573f39;
  --colors-text: #846557;
  --colors-bg-main: #e6e6de;
  --colors-bg-filter: #dddad1;
  --colors-btn-select: #d2cec5;
  --colors-btn-select-hov: #b5b2ab;
  --colors-rating-text: #e6e6de;
  --shadow: rgb(57, 43, 40) 0px 0px 8px;
}

* {
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  font-size: 10px;
  font-family: "avenir_light", arial;
  color: var(--colors-primary-text);
  background-color: var(--colors-bg-main);
  transition: background-color 0.2s, color 0.3s;
}

h1,
h2,
h3,
p {
  font-family: "avenir_light", arial;
}

.card {
  position: relative;
  font-size: 2rem;
  border-radius: 15px;
  width: 128px;
  height: 225px;
}
@media (min-width: 424px ) {
  .card {
    width: 155px;
    height: 270px;
  }
}
.card__poster {
  transition: 0.1s ease;
  opacity: 1;
  border-radius: 15px;
  width: 128px;
  height: 196px;
  box-shadow: var(--shadow);
}
@media (min-width: 424px ) {
  .card__poster {
    width: 155px;
    height: 235px;
  }
}
.card__icons {
  transition: 0.1s ease;
  opacity: 0;
  position: absolute;
  right: 12.5px;
  top: 12.5px;
}
.card__rating {
  position: absolute;
  color: var(--colors-rating-text);
  left: 9.5px;
  top: 9.5px;
  font-family: "avenir_heavy", arial;
  font-size: 1.2rem;
  margin: 0;
  padding: 5px 9px;
  border-radius: 8px;
  box-shadow: 0px 0px 3px var(--shadow);
}
@media (min-width: 424px ) {
  .card__rating {
    font-size: 1.4rem;
  }
}
.card__other {
  transition: 0.1s ease;
  opacity: 0;
  position: absolute;
  left: 12.5px;
  bottom: 70px;
  font-family: "avenir_light", arial;
  font-size: 1.4rem;
  color: var(--colors-primary-text);
}
.card__title {
  width: 128px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-family: "avenir_roman", arial;
  color: var(--colors-primary-text);
  font-size: 1.4rem;
  margin-top: 4px;
}
@media (min-width: 424px ) {
  .card__title {
    width: 155px;
    height: 290px;
  }
}
@media (min-width: 424px ) {
  .card__title {
    font-size: 1.6rem;
  }
}
.card:hover .card__poster {
  opacity: 0.17;
  -webkit-animation: scal 0.1s both;
  animation: scal 0.1s both;
}
.card:hover .card__icons {
  opacity: 1;
}
.card:hover .card__other {
  opacity: 1;
}
.card:hover .card__rating {
  left: 12.5px;
  top: 12.5px;
  transition: 0.1s ease;
  box-shadow: none;
}
@-webkit-keyframes scal {
  0% {
    transform: scale(1);
    transform-origin: 50% 100%;
  }
  100% {
    transform: scale(1.04);
    transform-origin: 50% 100%;
  }
}
@keyframes scal {
  0% {
    transform: scale(1);
    transform-origin: 50% 100%;
  }
  100% {
    transform: scale(1.04);
    transform-origin: 50% 100%;
  }
}

.blue {
  background-color: #0063e5;
}

.green {
  background-color: #73a32f;
}

.filter {
  display: flex;
  justify-content: flex-start;
  flex-flow: wrap;
  margin: 20px auto;
  background-color: var(--colors-bg-filter);
  border-radius: 35px;
  align-content: flex-start;
  box-shadow: var(--shadow);
  padding: 18px 20px;
  gap: 12px;
  width: 262px;
  height: 404px;
  transition: width 0.3s ease, height 0.3s ease;
}
@media (min-width: 767px) {
  .filter {
    width: 492px;
    height: 214px;
    margin: 20px auto;
  }
}
@media (min-width: 1080px) {
  .filter {
    width: 956px;
    height: 146px;
    margin: 20px auto;
  }
}
.filter__genre, .filter__countries, .filter__years, .filter__rating {
  font-size: 1.6rem;
  width: 220px;
  height: 56px;
  background-color: var(--colors-btn-select);
  border-radius: 15px;
}
.filter__subscription, .filter__free {
  width: 131px;
  height: 35px;
}

.otherFilters {
  width: 222px;
  height: 96px;
  transition: width 0.3s ease, height 0.3s ease;
  display: flex;
  justify-content: flex-start;
  flex-flow: row wrap;
  gap: 12px 12px;
  color: var(--colors-primary-text);
}
.otherFilters__subscription {
  width: 164px;
  height: 42px;
  position: relative;
  border-radius: 50px;
  border: 1px solid var(--colors-text);
  font-family: "avenir_roman", arial;
  font-size: 1.6rem;
  padding: 11px 20.1px;
}
.otherFilters__free {
  width: 90px;
  height: 42px;
  position: relative;
  border-radius: 50px;
  border: 1px solid var(--colors-text);
  font-family: "avenir_roman", arial;
  font-size: 1.6rem;
  padding: 11.2px 23.2px;
}
.otherFilters__resetFilters {
  font-family: "avenir_light", arial;
  font-size: 1.6rem;
  color: var(--colors-text);
  width: 100px;
  height: 40px;
  position: relative;
  margin-left: auto;
  padding-top: 20px;
}
.otherFilters__resetFilters:hover {
  color: var(--colors-primary-text);
}
@media (min-width: 767px) {
  .otherFilters {
    width: 452px;
    height: 42px;
  }
}
@media (min-width: 1080px) {
  .otherFilters {
    width: 916px;
    height: 42px;
  }
}

.otherFilters__subscription__text,
.otherFilters__free__text,
.otherFilters__resetFilters__text {
  position: absolute;
}

.filter__reting__icon,
.otherFilters__subscription__icons,
.otherFilters__free__icons,
.otherFilters__resetFilters__icons {
  margin-right: 5px;
}

.filter__genre__content {
  padding: 16px;
}

.filter__genre__control:hover {
  background-color: var(--colors-btn-select-hov);
  -webkit-animation: scal 0.1s both;
  animation: scal 0.1s both;
}

.filter__countries__control:hover {
  background-color: var(--colors-btn-select-hov);
  -webkit-animation: scal 0.1s both;
  animation: scal 0.1s both;
}

.filter__rating__control:hover {
  background-color: var(--colors-btn-select-hov);
  -webkit-animation: scal 0.1s both;
  animation: scal 0.1s both;
}

.otherFilters__subscription:active {
  background-color: var(--colors-btn-select-hov);
  border: none;
}

.otherFilters__free:active {
  background-color: var(--colors-btn-select-hov);
  border: none;
}

@-webkit-keyframes scal {
  0% {
    transform: scale(1);
    transform-origin: 50% 100%;
  }
  100% {
    transform: scale(1.04);
    transform-origin: 50% 100%;
  }
}
@keyframes scal {
  0% {
    transform: scale(1);
    transform-origin: 50% 100%;
  }
  100% {
    transform: scale(1.04);
    transform-origin: 50% 100%;
  }
}
.filter__genre__control,
.filter__countries__control {
  width: 220px;
  height: 56px;
  background-color: var(--colors-btn-select);
  border-radius: 15px;
  cursor: pointer;
  align-items: end !important;
  padding: 6.5px 16px;
  color: var(--colors-text) !important;
  font-size: 1.4rem !important;
}

.filter__genre__menu,
.filter__countries__menu {
  position: absolute;
  top: 60px !important;
  background: var(--colors-btn-select);
  border-radius: 15px;
  z-index: 9999;
  width: 220px;
  overflow: hidden;
}

.filter__genre__menu-list,
.filter__countries__menu-list {
  padding: 0;
  margin-top: 5px;
  display: flex;
  flex-direction: column;
}

.filter__genre__option,
.filter__countries__option {
  padding: 12px 16px !important;
  color: var(--colors-primary-text);
  cursor: pointer;
}

.filter__genre__singleValue {
  color: var(--colors-text) !important;
  font-size: 1.4rem !important;
}

.filter__genre__option--is-focused,
.filter__countries__option--is-focused {
  background-color: var(--colors-btn-select-hov) !important;
}

.filter__genre__option--is-selected,
.filter__countries__option--is-selected {
  background-color: var(--colors-btn-select-hov) !important;
  order: -1 !important;
}

.filter__genre__option--is-focused .filter__genre__option__checkbox {
  background-color: var(--colors-text);
}

.filter__countries__option--is-focused .filter__countries__option__checkbox {
  background-color: var(--colors-text);
}

.filter__genre__text,
.filter__countries__text,
.filter__years__text,
.filter__rating__text {
  position: absolute;
  left: 15px;
  font-family: "avenir_roman", arial;
  font-size: 2rem;
  color: var(--colors-primary-text);
  opacity: 1;
  top: 18.3px;
}

.hasValue {
  position: absolute;
  left: 15px;
  font-family: "avenir_roman", arial;
  font-size: 2rem;
  color: var(--colors-primary-text);
  opacity: 1;
  top: 9.5px;
}

.filter__genre__icon,
.filter__countries__icon,
.filter__years__icon,
.filter__rating__icon {
  position: absolute;
  right: 15px;
  top: 17.5px;
  transition: 0.1s ease;
  opacity: 1;
}

.filter__genre__control--menu-is-open .filter__genre__icon {
  transform: rotate(180deg);
}

.filter__countries__control--menu-is-open .filter__countries__icon {
  transform: rotate(180deg);
}

.filter__genre__option__checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
  right: 16px;
  width: 16px;
  height: 16px;
  background: var(--colors-btn-select);
  border-radius: 50%;
  border: 1.5px solid var(--colors-text);
}

.filter__countries__option__checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
  right: 16px;
  width: 16px;
  height: 16px;
  background: var(--colors-btn-select);
  border-radius: 50%;
  border: 1.5px solid var(--colors-text);
}

.filter__genre__option__checkbox:checked {
  background-color: var(--colors-text);
}

.filter__countries__option__checkbox:checked {
  background-color: var(--colors-text);
}

.filter__genre__option__checkbox:disabled {
  background-color: var(--colors-btn-select);
  border-color: var(--colors-text);
}

.filter__countries__option__checkbox:disabled {
  background-color: var(--colors-btn-select);
  border-color: var(--colors-text);
}

.filter__genre__option__checkbox:disabled::after {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.filter__countries__option__checkbox:disabled::after {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.css-tj5bde-Svg {
  display: none !important;
}

.filter__genre__multi-value {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 150px;
}

.years,
.rating {
  position: relative;
  list-style-type: none;
}

.filter__years__menu,
.filter__rating__menu {
  position: absolute;
  top: 60px;
  background: var(--colors-btn-select);
  color: var(--colors-text);
  font-size: 1.6rem;
  border-radius: 15px;
  z-index: 9999;
  width: 220px;
  height: 130px;
  gap: 8px 11px;
  grid-template-areas: "from to" "fromInput toInput" "btnReset btnDone";
  padding: 13px;
  justify-content: center;
  display: none;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.filter__years__menu--visible,
.filter__rating__menu--visible {
  display: grid;
  opacity: 1;
  visibility: visible;
}

.filter__years:hover,
.filter__rating:hover {
  background-color: var(--colors-btn-select-hov);
  -webkit-animation: scal 0.1s both;
  animation: scal 0.1s both;
}

.filter__rating__icon--rotated,
.filter__years__icon--rotated {
  transform: rotate(180deg);
}

.filter__years__menu__input--from,
.filter__years__menu__input--to,
.filter__rating__menu__input--from,
.filter__rating__menu__input--to {
  background-color: var(--colors-btn-select);
  border: 1px solid var(--colors-text);
  border-radius: 11px;
  width: 85px;
  height: 30px;
  padding: 0px 7px;
}

.filter__years__menu__btn--done,
.filter__rating__menu__btn--done {
  background-color: var(--colors-btn-select-hov);
  color: var(--colors-primary-text);
  padding: 7px 25px;
  height: 35px;
  border-radius: 11px;
  font-size: 1.6rem;
  grid-area: btnDone;
}
.filter__years__menu__btn--done:hover,
.filter__rating__menu__btn--done:hover {
  background-color: var(--colors-bg-filter);
}

.filter__years__menu__btn--reset,
.filter__rating__menu__btn--reset {
  background-color: var(--colors-btn-select-hov);
  color: var(--colors-primary-text);
  padding: 7px 25px;
  height: 35px;
  border-radius: 11px;
  font-size: 1.6rem;
  grid-area: btnReset;
}
.filter__years__menu__btn--reset:hover,
.filter__rating__menu__btn--reset:hover {
  background-color: var(--colors-bg-filter);
}

.filter__years__menu__input--to,
.filter__rating__menu__input--to {
  grid-area: toInput;
  outline: none;
  font-family: "avenir_light", arial;
  color: var(--colors-primary-text);
}

.filter__years__menu__input--from,
.filter__rating__menu__input--from {
  grid-area: fromInput;
  font-family: "avenir_light", arial;
  color: var(--colors-primary-text);
  outline: none;
}

.filter__years__menu__input--from::-webkit-input-placeholder, .filter__rating__menu__input--from::-webkit-input-placeholder, .filter__years__menu__input--to::-webkit-input-placeholder, .filter__rating__menu__input--to::-webkit-input-placeholder {
  font-family: "avenir_light", arial;
  color: var(--colors-text);
}

.filter__years__menu__input--from::-moz-placeholder, .filter__rating__menu__input--from::-moz-placeholder, .filter__years__menu__input--to::-moz-placeholder, .filter__rating__menu__input--to::-moz-placeholder {
  font-family: "avenir_light", arial;
  color: var(--colors-text);
}

.filter__years__menu__input--from:-ms-input-placeholder, .filter__rating__menu__input--from:-ms-input-placeholder, .filter__years__menu__input--to:-ms-input-placeholder, .filter__rating__menu__input--to:-ms-input-placeholder {
  font-family: "avenir_light", arial;
  color: var(--colors-text);
}

.filter__years__menu__input--from::-ms-input-placeholder, .filter__rating__menu__input--from::-ms-input-placeholder, .filter__years__menu__input--to::-ms-input-placeholder, .filter__rating__menu__input--to::-ms-input-placeholder {
  font-family: "avenir_light", arial;
  color: var(--colors-text);
}

.filter__years__menu__input--from::placeholder,
.filter__rating__menu__input--from::placeholder,
.filter__years__menu__input--to::placeholder,
.filter__rating__menu__input--to::placeholder {
  font-family: "avenir_light", arial;
  color: var(--colors-text);
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.filter__years__label,
.filter__rating__label {
  font-size: 1.4rem;
  color: var(--colors-text);
  position: absolute;
  top: 33px;
  left: 15px;
}

.movieList {
  display: grid;
  gap: 16px 24px;
  place-content: center center;
  grid-template-columns: repeat(auto-fit, 128px);
  margin: 24px 0px;
}
@media (min-width: 424px ) {
  .movieList {
    grid-template-columns: repeat(auto-fit, 155px);
  }
}

.btn {
  background-color: var(--colors-bg-filter);
  border: none;
  border-radius: 15px;
  color: var(--colors-primary-text);
  font-size: 1.6rem;
  padding: 10px 18px;
  margin: 30px 0px 35px 0px;
  font-family: "avenir_light", arial;
  box-shadow: var(--shadow);
  transition: transform 0.1s ease;
  margin-right: auto;
}

.btn:hover {
  transform: scale(0.92);
  box-shadow: none;
}

.icon_back {
  margin-right: 5px;
}

.pagination {
  width: clamp(262px, 86.1vw - 13.5px, 1226px);
  height: 35px;
  color: var(--colors-primary-text);
  font-family: "avenir_light", arial;
  background-color: var(--colors-bg-main);
  border-radius: 15px;
  border: 1px solid var(--colors-primary-text);
  padding: 5px 12px;
  margin: 20px auto;
  margin-bottom: 20px;
}

.pagination:hover {
  background-color: var(--colors-bg-filter);
  border: none;
  box-shadow: none;
}

.theme {
  font-size: 1.6rem;
  width: 20px;
  height: 20px;
  position: relative;
  display: block;
}
@media (min-width: 1023px) {
  .theme {
    width: 109px;
    height: 40px;
  }
}

.theme__icon {
  position: absolute;
  top: 0;
}
@media (min-width: 1023px) {
  .theme__icon {
    top: 11px;
  }
}

.theme__text {
  color: var(--colors-primary-text);
  position: absolute;
  top: 10.3px;
  right: 5px;
  display: none;
}
@media (min-width: 1023px) {
  .theme__text {
    display: block;
  }
}

.customSwiper {
  width: 100%;
  position: relative;
}

.collectionSwiper {
  overflow-y: hidden !important;
  overflow-x: visible;
}

.collectionSwiper .swiper-wrapper {
  margin-left: 20px;
  align-items: flex-end;
  height: 290px;
}
@media (min-width: 424px ) {
  .collectionSwiper .swiper-wrapper {
    width: 155px;
    height: 302px;
  }
}
@media (min-width: 767px) {
  .collectionSwiper .swiper-wrapper {
    margin-left: 0px;
  }
}

.collectionSwiper .swiper-slide {
  width: 128px;
  height: auto;
  min-height: 225px;
}
@media (min-width: 424px ) {
  .collectionSwiper .swiper-slide {
    width: 155px;
    height: 270px;
  }
}

.collectionSwiper .customSwiper {
  position: relative;
  margin: 24px 0px;
}

.custom-prev-btn,
.custom-next-btn {
  display: none;
}
@media (min-width: 767px) {
  .custom-prev-btn,
  .custom-next-btn {
    display: block;
    position: absolute;
    top: 43%;
    transform: translateY(-50%);
    z-index: 10;
    cursor: pointer;
    width: 26px;
    height: 26px;
  }
}

@media (min-width: 767px) {
  .custom-prev-btn {
    left: -34px;
  }
}

@media (min-width: 767px) {
  .custom-next-btn {
    right: -34px;
  }
}

/* Отключение кнопки, если слайдер в начале/конце */
@media (min-width: 767px) {
  .custom-prev-btn.swiper-button-disabled,
  .custom-next-btn.swiper-button-disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}

.collections {
  margin-bottom: 40px;
}

.collections__title {
  font-size: 2rem;
  color: var(--colors-primary-text);
  font-family: "avenir_heavy", arial;
  line-height: 1.32;
  margin-top: 20px;
}
@media (min-width: 424px ) {
  .collections__title {
    font-size: 2.2rem;
  }
}
@media (min-width: 767px) {
  .collections__title {
    font-size: 2.4rem;
  }
}

.more-block {
  width: 155px;
  height: 235px;
  box-shadow: var(--shadow);
  border-radius: 15px;
  background-color: var(--colors-btn-select);
  font-size: 1.6rem;
  font-family: "avenir_roman", arial;
  padding: 109px 37px;
}

.more-block:hover {
  opacity: 0.3;
  -webkit-animation: scal 0.1s both;
  animation: scal 0.1s both;
}

.collections__h1 {
  font-size: 2.4rem;
  color: var(--colors-primary-text);
  font-family: "avenir_black", arial;
  line-height: 1.26;
  margin: 20px 0px;
}
@media (min-width: 424px ) {
  .collections__h1 {
    font-size: 2.7rem;
  }
}
@media (min-width: 767px) {
  .collections__h1 {
    font-size: 3rem;
  }
}

.homeSwiper {
  margin: 40px auto;
  width: clamp(280px, 280px + 480 * (100vw - 375px) / 649, 760px);
  height: clamp(170px, 170px + 271 * (100vw - 375px) / 649, 441px);
}

.homeSwiper .swiper-button-next,
.homeSwiper .swiper-button-prev {
  display: none;
}

.homeSwiper__img {
  border-radius: 15px;
  width: clamp(280px, 280px + 480 * (100vw - 375px) / 649, 760px);
  height: auto;
  border-radius: 15px;
  border: 1px solid var(--colors-text);
}

.homeSwiper .swiper-slide {
  width: clamp(280px, 280px + 480 * (100vw - 375px) / 649, 760px) !important;
  height: auto;
}

.homeSwiper .swiper-pagination-bullet {
  background: var(--colors-btn-select);
  opacity: 1;
}

.homeSwiper .swiper-pagination-bullet-active {
  background: var(--colors-text);
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: var(--colors-bg-main);
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Для Firefox */
html {
  scrollbar-width: thin;
  scrollbar-color: var(--colors-bg-main) #f1f1f1;
}

@media (min-width: 767px) {
  .header__listItem {
    position: relative;
    list-style-type: none;
  }
  .header__listItem .movies__content,
  .header__listItem .serials__content,
  .header__listItem .cartoons__content {
    display: none;
    position: absolute;
    background-color: var(--colors-bg-filter);
    color: var(--colors-text);
    border-radius: 15px;
    width: 500px;
    height: 215px;
    padding: 20px 30px;
    z-index: 101;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    visibility: hidden;
  }
  .header__listItem .movies__content a,
  .header__listItem .serials__content a,
  .header__listItem .cartoons__content a {
    padding-top: 5px;
    text-decoration: none;
    color: var(--colors-text);
    display: block;
  }
  .header__listItem .movies__content a:hover,
  .header__listItem .serials__content a:hover,
  .header__listItem .cartoons__content a:hover {
    color: var(--colors-primary-text);
  }
  .header__listItem .movies__content {
    top: 100%;
    left: -165.45px;
  }
  .header__listItem .serials__content {
    top: 100%;
    left: -249.45px;
  }
  .header__listItem .cartoons__content {
    top: 100%;
    left: -327.18px;
  }
  .header__listItem .movies__content__text,
  .header__listItem .serials__content__text,
  .header__listItem .cartoons__content__text {
    font-size: 2rem;
    font-family: "avenir_heavy", arial;
    color: var(--colors-primary-text);
  }
  .header__listItem.movies:hover .movies__content, .header__listItem.serials:hover .serials__content, .header__listItem.cartoons:hover .cartoons__content {
    display: flex;
    justify-content: flex-start;
    gap: 30px;
    visibility: visible;
    opacity: 1;
    -webkit-animation: content-FadeIn 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
    animation: content-FadeIn 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
    pointer-events: auto;
  }
  .header__listItem:not(:hover) .movies__content, .header__listItem:not(:hover) .serials__content, .header__listItem:not(:hover) .cartoons__content {
    -webkit-animation: none;
    animation: none;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s ease-out, visibility 0.2s ease-out;
  }
  @-webkit-keyframes content-FadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes content-FadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}

.genre {
  height: 190px;
  width: auto;
  display: flex;
  flex-direction: column;
  gap: 0px 30px;
  flex-wrap: wrap;
}

.loading {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 155px;
  height: 235px;
  box-shadow: var(--shadow);
  border-radius: 15px;
}

.loading-cantFetchData {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  flex-direction: column;
  width: 155px;
  height: 235px;
  box-shadow: var(--shadow);
  border-radius: 15px;
}

.load {
  display: inline-flex;
  gap: 10px;
}

.load:before,
.load:after {
  content: "";
  height: 20px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: radial-gradient(farthest-side, #000 95%, rgba(0, 0, 0, 0)) 35% 35%/6px 6px no-repeat #fff;
  transform: scaleX(var(--s, 1)) rotate(0deg);
  animation: l7 1s infinite linear;
}

.load:after {
  --s: -1;
  animation-delay: -0.1s;
}

@keyframes l7 {
  100% {
    transform: scaleX(var(--s, 1)) rotate(360deg);
  }
}
.details {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  margin: 0px 20px;
}
.details__img {
  border-radius: 40px;
  width: 200px;
}
@media (min-width: 530px) {
  .details__img {
    width: clamp(156px, 156px + 144 * (100vw - 531px) / 909, 300px);
  }
}
@media (min-width: 530px) {
  .details {
    align-items: flex-start;
    flex-direction: row;
  }
}
@media (min-width: 767px) {
  .details {
    gap: 40px;
  }
}

.details__content {
  display: grid;
  gap: 15px 5px;
  grid-template-areas: "heading favourite" "info info" "plot plot";
}
.details__content__h {
  font-size: 2.4rem;
  color: var(--colors-primary-text);
  font-family: "avenir_black", arial;
  line-height: 1.26;
  margin: 20px 0px;
  margin: 0px;
  grid-area: heading;
}
@media (min-width: 424px ) {
  .details__content__h {
    font-size: 2.7rem;
  }
}
@media (min-width: 767px) {
  .details__content__h {
    font-size: 3rem;
  }
}
.details__content__favourite {
  margin-left: auto;
  grid-area: favourite;
}
.details__content__info {
  grid-area: info;
  display: flex;
  gap: 15px;
}
.details__content__rating {
  font-family: "avenir_heavy", arial;
  color: var(--colors-rating-text);
  font-size: 13px;
  margin: 0;
  padding: 5px 9px;
  border-radius: 8px;
  align-self: start;
  justify-self: start;
}
.details__content__genre {
  font-family: "avenir_heavy", arial;
  font-size: 1.4rem;
  margin: 0;
  padding: 5px 9px;
  border-radius: 8px;
  background-color: var(--colors-btn-select-hov);
  color: var(--colors-primary-text);
  overflow-x: scroll;
}
.details__content__plot {
  font-size: 1.4rem;
  color: var(--colors-primary-text);
  line-height: 1.5;
  color: var(--colors-primary-text);
  grid-area: plot;
}
@media (min-width: 767px) {
  .details__content__plot {
    font-size: 1.6rem;
  }
}

._block {
  grid-area: _block;
}

.autorization__background {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.autorization__background__flower--huge {
  transition: transform 0.3s ease;
  -o-object-fit: cover;
  object-fit: cover;
  position: absolute;
  display: block;
}
@media (max-width: 709px) {
  .autorization__background__flower--huge {
    display: none;
  }
}
.autorization__background__flower--small, .autorization__background__flower--big, .autorization__background__flower--middle {
  transition: transform 0.3s ease;
  -o-object-fit: cover;
  object-fit: cover;
  position: absolute;
}
.autorization__background__flower--small {
  -webkit-animation: rotateAnimation 5s linear infinite;
  animation: rotateAnimation 5s linear infinite;
}
.autorization__background__flower--middle {
  -webkit-animation: rotateAnimation 15s linear infinite;
  animation: rotateAnimation 15s linear infinite;
}
.autorization__background__flower--big {
  -webkit-animation: rotateAnimation 25s linear infinite;
  animation: rotateAnimation 25s linear infinite;
}
.autorization__background__flower--huge {
  -webkit-animation: rotateAnimation 35s linear infinite;
  animation: rotateAnimation 35s linear infinite;
}
.autorization__background .flowerOne {
  top: 100px;
  right: 100px;
}
@media (max-width: 709px) {
  .autorization__background .flowerOne {
    top: 100px;
    right: 30px;
  }
}
.autorization__background .flowerTwo {
  top: 200px;
  left: 10px;
}
@media (max-width: 709px) {
  .autorization__background .flowerTwo {
    top: 580px;
    left: 270px;
  }
}
.autorization__background .flowerTree {
  top: 565px;
  right: 300px;
}
@media (max-width: 709px) {
  .autorization__background .flowerTree {
    top: 563px;
    right: 246px;
  }
}
.autorization__background .flowerFour {
  right: 180px;
  bottom: 400px;
}
.autorization__background .flowerFive {
  bottom: 250px;
}
.autorization__background .flowerSix {
  bottom: 150px;
  right: 100px;
}
@media (max-width: 709px) {
  .autorization__background .flowerSix {
    bottom: 80px;
    right: 285px;
  }
}
.autorization__background .flowerSeven {
  top: 20px;
  right: 250px;
}
@media (max-width: 709px) {
  .autorization__background .flowerSeven {
    top: 290px;
    right: 0px;
  }
}
.autorization__background .flowerEihgt {
  bottom: 100px;
  left: 120px;
}
.autorization__background .flowerNine {
  top: 60px;
  left: 160px;
}
@media (max-width: 709px) {
  .autorization__background .flowerNine {
    top: 60px;
    left: 160px;
  }
}
@media (min-width: 1081px) {
  .autorization__background {
    max-width: 1080px;
    margin: auto;
  }
}

.autorization__container {
  position: absolute;
  top: calc((100% - 395px) / 2);
  right: calc((100% - 280px) / 2);
  background-color: var(--colors-bg-filter);
  box-shadow: var(--shadow);
  width: 280px;
  height: auto;
  border-radius: 50px;
  padding: 25px;
  transition: width 0.3s ease;
}
@media (min-width: 767px) {
  .autorization__container {
    width: 360px;
    right: calc((100% - 360px) / 2);
  }
}
.autorization__container__header {
  position: relative;
  width: 100%;
  height: 50px;
}
.autorization__container__main {
  display: flex;
  height: 295px;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
}
.autorization__container__back {
  position: absolute;
  width: 28px;
  height: 26px;
}
@media (min-width: 767px) {
  .autorization__container__back {
    left: 5px;
  }
}
.autorization__container__logo {
  position: absolute;
  top: -6px;
  left: 59px;
}
@media (min-width: 767px) {
  .autorization__container__logo {
    left: 94px;
  }
}
.autorization__container__h {
  position: absolute;
  left: 141px;
  top: -12px;
  font-size: 4rem;
  font-family: "avenir_heavy", arial;
  color: var(--colors-primary-text);
  margin: 0px;
}
@media (min-width: 767px) {
  .autorization__container__h {
    left: 176px;
  }
}
.autorization__container__text {
  font-size: 2.5rem;
  font-family: "avenir_heavy", arial;
  color: var(--colors-primary-text);
}
.autorization__container__p {
  font-size: 1.6rem;
  font-family: "avenir_light", arial;
  color: var(--colors-primary-text);
}
.autorization__container__input {
  outline: 0;
  width: 230px;
  height: 56px;
  border-radius: 20px;
  font-family: "avenir_light", arial;
  background-color: var(--colors-bg-filter);
  border: 1px solid var(--colors-text) !important;
  color: var(--colors-primary-text);
  font-size: 1.6rem;
  padding: 10px;
  transition: width 0.3s ease;
}
@media (min-width: 767px) {
  .autorization__container__input {
    width: 312px;
  }
}
.autorization__container__btn {
  width: 230px;
  height: 56px;
  border: none;
  border-radius: 20px;
  background-color: var(--colors-btn-select-hov);
  font-size: 1.6rem;
  color: var(--colors-primary-text);
  font-family: "avenir_light", arial;
  transition: width 0.3s ease transform 0.3s ease;
}
@media (min-width: 767px) {
  .autorization__container__btn {
    width: 312px;
  }
}

.autorization__container__input::-webkit-input-placeholder {
  font-size: 1.6rem;
  color: var(--colors-text);
  font-family: "avenir_light", arial;
}

.autorization__container__input::-moz-placeholder {
  font-size: 1.6rem;
  color: var(--colors-text);
  font-family: "avenir_light", arial;
}

.autorization__container__input:-ms-input-placeholder {
  font-size: 1.6rem;
  color: var(--colors-text);
  font-family: "avenir_light", arial;
}

.autorization__container__input::-ms-input-placeholder {
  font-size: 1.6rem;
  color: var(--colors-text);
  font-family: "avenir_light", arial;
}

.autorization__container__input::placeholder {
  font-size: 1.6rem;
  color: var(--colors-text);
  font-family: "avenir_light", arial;
}

.autorization__container__btn:hover {
  background-color: var(--colors-btn-select);
  transform: scale(0.98);
}

@-webkit-keyframes rotateAnimation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes rotateAnimation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.favourite__text {
  font-size: 2.4rem;
  color: var(--colors-primary-text);
  font-family: "avenir_black", arial;
  line-height: 1.26;
  margin: 20px 0px;
}
@media (min-width: 424px ) {
  .favourite__text {
    font-size: 2.7rem;
  }
}
@media (min-width: 767px) {
  .favourite__text {
    font-size: 3rem;
  }
}

.favourite__bg {
  width: 100%;
  font-size: 2rem;
  color: var(--colors-text);
  text-align: center;
  opacity: 0.4;
  padding: 122px 0px;
  min-height: 270px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 9999;
  padding-top: 200px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}
.modal__content {
  width: 290px;
  height: 267px;
  border-radius: 50px;
  background-color: var(--colors-bg-main);
  color: var(--colors-text);
  margin: auto;
  box-shadow: var(--shadow);
  padding: 20px;
  transition: width 0.3 ease height 0.3 ease;
}
@media (min-width: 767px) {
  .modal__content {
    width: 400px;
    height: 285px;
  }
}
.modal__close {
  color: var(--colors-primary-text);
  float: right;
  font-size: 30px;
  font-weight: bold;
  margin: 0px 10px;
}
.modal__text {
  font-size: 2rem;
  color: var(--colors-primary-text);
  font-family: "avenir_heavy", arial;
  line-height: 1.32;
  text-align: center;
  width: 236px;
  margin: 40px auto 0px auto;
  transition: width 0.3 ease;
}
@media (min-width: 424px ) {
  .modal__text {
    font-size: 2.2rem;
  }
}
@media (min-width: 767px) {
  .modal__text {
    font-size: 2.4rem;
  }
}
@media (min-width: 767px) {
  .modal__text {
    width: 290px;
  }
}
.modal__btn {
  width: 236px;
  height: 40px;
  border-radius: 50px;
  border: 1px solid var(--colors-primary-text);
  color: var(--colors-primary-text);
  font-size: 1.6rem;
  padding: 9px 83px;
  margin: 28px auto;
  transition: width 0.3 ease;
}
@media (min-width: 767px) {
  .modal__btn {
    width: 290px;
    padding: 9px 108px;
  }
}

.modal__close:hover,
.modal__close:focus {
  color: var(--colors-text);
  text-decoration: none;
  cursor: pointer;
}

.modal__btn:hover {
  border: none;
  background-color: var(--colors-btn-select-hov);
  padding: 8px 82px;
}
@media (min-width: 767px) {
  .modal__btn:hover {
    padding: 8px 107px;
  }
}

.search {
  position: relative;
  border: 1px solid var(--colors-text);
  border-radius: 15px;
  width: clamp(200px, 61.6vw - 31px, 600px);
  height: 50px;
  margin: 20px auto 40px auto;
}
.search__input {
  background-color: var(--colors-bg-filter);
  font-size: 2rem;
  font-family: "avenir_light", arial;
  color: var(--colors-primary-text);
  border: none;
  border-radius: 15px;
  width: 100%;
  height: 100%;
  padding: 0px 15px;
  outline: none;
}
.search__btn {
  width: 20px;
  height: auto;
  position: absolute;
  top: 15px;
  right: 15px;
}

.search__input::-webkit-input-placeholder {
  color: var(--colors-text);
}

.search__input::-moz-placeholder {
  color: var(--colors-text);
}

.search__input:-ms-input-placeholder {
  color: var(--colors-text);
}

.search__input::-ms-input-placeholder {
  color: var(--colors-text);
}

.search__input::placeholder {
  color: var(--colors-text);
}

input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
}

.notFound {
  width: 100%;
  height: calc(100vh - 72px);
  display: grid;
  grid-template-areas: "text1 flower text2" "p p p";
  grid-template-columns: 75px 110px 75px;
  grid-template-rows: 120px 50px;
  place-content: center;
  place-items: center;
  gap: 0px;
}
@media (min-width: 767px) {
  .notFound {
    gap: 0px 10px;
  }
}
.notFound__text {
  color: var(--colors-primary-text);
  font-family: "avenir_black", arial;
  font-size: 9rem;
  z-index: 1;
}
@media (min-width: 767px) {
  .notFound__text {
    font-size: 13rem;
  }
}
.notFound__flower {
  transition: transform 0.3s ease;
  -webkit-animation: rotateAnimation 25s linear infinite;
  animation: rotateAnimation 25s linear infinite;
  grid-area: flower;
  width: 70px;
}
@media (min-width: 767px) {
  .notFound__flower {
    width: 100px;
  }
}
.notFound__p {
  font-size: 2.2rem;
  grid-area: p;
}
@media (min-width: 767px) {
  .notFound__p {
    font-size: 3rem;
  }
}

.textOne {
  grid-area: text1;
}

.textTwo {
  grid-area: text2;
}

.react-tooltip {
  font-family: "avenir_light", arial;
  padding: 6px 10px;
  font-size: 1.4rem !important;
  background: var(--colors-text) !important;
  border-radius: 10px !important;
  z-index: 1000;
}
.react-tooltip.place-top {
  margin-bottom: 10px;
}

#email-tooltip {
  font-family: "avenir_light", arial;
  background: var(--colors-text) !important;
  color: var(--colors-bg-main);
  top: 120px !important;
  left: 100px !important;
}

#password-tooltip {
  font-family: "avenir_light", arial;
  background: var(--colors-text) !important;
  color: var(--colors-bg-main);
  top: 198px !important;
  left: 100px !important;
}

#mbRegister-tooltip {
  font-family: "avenir_light", arial;
  background-color: var(--colors-text) !important;
  color: var(--colors-bg-main);
  width: 160px;
  height: 70px;
  font-size: 1.6rem;
  border-radius: 50px !important;
  padding: 18px 21px;
  position: absolute;
  z-index: 1;
  text-align: center;
  left: 220px !important;
  top: -30px !important;
}
@media (min-width: 767px) {
  #mbRegister-tooltip {
    left: 255px !important;
    top: -30px !important;
    width: 201px;
  }
}

#favourite-tooltip,
#trash-tooltip {
  font-family: "avenir_light", arial;
  background: var(--colors-text) !important;
  color: var(--colors-bg-main);
}

.header {
  height: 72px;
  font-family: "avenir_roman", arial;
  font-size: 2rem;
  color: var(--colors-text);
  display: grid;
  grid-template-columns: 26% 1fr 10% 10% 27%;
  place-items: center center;
  background-color: var(--colors-bg-filter);
  position: fixed;
  width: 100%;
  z-index: 100;
  box-shadow: var(--shadow);
}
@media (min-width: 424px ) {
  .header {
    grid-template-columns: 26% 1fr 18% 8% 26%;
    gap: 9px;
  }
}
@media (min-width: 767px) {
  .header {
    grid-template-columns: 15% 1fr 17% 5% 15%;
  }
}
@media (min-width: 1023px) {
  .header {
    grid-template-columns: 15% 1fr 12% 12% 12%;
  }
}
.header__logo {
  margin-top: 5px;
}
.header__search {
  width: 18px;
  height: 20px;
  position: relative;
}
@media (min-width: 424px) {
  .header__search {
    width: 109px;
    height: 40px;
  }
}
.header__search__text {
  font-size: 1.8rem;
  color: var(--colors-primary-text);
  position: absolute;
  top: 10.25px;
  left: 16.15px;
  display: none;
}
@media (min-width: 424px) {
  .header__search__text {
    display: block;
  }
}
.header__search__btn {
  position: absolute;
  top: 0px;
  left: 0px;
}
@media (min-width: 424px) {
  .header__search__btn {
    top: 12px;
    left: 76.85px;
  }
}
.header__login {
  color: var(--colors-primary-text);
  position: relative;
  border: 1px solid var(--colors-primary-text);
  width: 92px;
  height: 40px;
  border-radius: 15px;
}
.header__login__text {
  position: absolute;
  top: 11px;
  left: 33.42px;
  font-size: 1.6rem;
}
.header__login__user {
  position: absolute;
  top: 11px;
  left: 12.42px;
}
.header__list {
  display: none;
}
@media (min-width: 767px) {
  .header__list {
    padding-left: 0px;
    display: flex;
    position: relative;
    gap: 20px;
  }
}

@media (min-width: 767px) {
  .header__listItem__link {
    text-decoration: none;
    color: var(--colors-text);
  }
  .header__listItem__link:hover {
    color: var(--colors-primary-text);
  }
}

.header__login:hover {
  background-color: var(--colors-btn-select);
  border: none;
}

.header__login:hover .header__login__text {
  top: 12px;
  left: 34.42px;
}

.header__login:hover .header__login__user {
  top: 12px;
  left: 13.42px;
}

.icon_user {
  margin-right: 5px;
}

.header__search:hover {
  border-radius: 15px;
  border: 1px solid var(--colors-primary-text);
}

.header__search:hover .header__search__text {
  top: 9.25px;
  left: 15.15px;
}

.header__search:hover .header__search__btn {
  top: 11px;
  left: 75.85px;
}

.header__select {
  position: relative;
  list-style-type: none;
}
@media (min-width: 767px) {
  .header__select {
    display: none;
  }
}
.header__select__name {
  display: flex;
  color: var(--colors-primary-text);
}
@media (min-width: 767px) {
  .header__select__name {
    display: none;
  }
}
.header__select__icon {
  margin-left: 7px;
  width: 20px;
}
.header__select__dropdown {
  display: none;
  position: absolute;
  top: 100%;
  left: -18px;
  background-color: var(--colors-bg-filter);
  color: var(--colors-text);
  border-radius: 15px;
  width: 125px;
  height: 170px;
  padding: 18px;
  z-index: 101;
}
.header__select__link {
  text-decoration: none;
  color: var(--colors-text);
}
.header__select__link:hover {
  color: var(--colors-primary-text);
}

.header__select:hover .header__select__dropdown {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: flex-start;
}

.header__select:hover .header__select__icon {
  transform: rotate(180deg);
}

.footer {
  width: 100%;
  padding-left: clamp(12px, 12px + 58 * (100vw - 320px) / 704, 70px);
  padding-right: clamp(12px, 12px + 58 * (100vw - 320px) / 704, 70px);
  height: 120px;
}
.footer__message {
  padding: 15px 20px;
  display: flex;
  gap: 20px;
}
.footer__message__vk, .footer__message__facebook, .footer__message__linkedin {
  background-color: var(--colors-btn-select-hov);
  border-radius: 35%;
  width: 40px;
  height: 40px;
  padding: 10px;
}
.footer__data {
  font-size: 1.4rem;
  padding: 0px 20px;
}

main {
  padding-top: 72px;
  padding-left: clamp(12px, 12px + 58 * (100vw - 320px) / 704, 70px);
  padding-right: clamp(12px, 12px + 58 * (100vw - 320px) / 704, 70px);
  min-height: calc(100vh - 120px);
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.h1 {
  font-size: 2.4rem;
  color: var(--colors-primary-text);
  font-family: "avenir_black", arial;
  line-height: 1.26;
  margin: 20px 0px;
}
@media (min-width: 424px ) {
  .h1 {
    font-size: 2.7rem;
  }
}
@media (min-width: 767px) {
  .h1 {
    font-size: 3rem;
  }
}

.headerBar {
  margin: 20px 0px;
}
.headerBar__title {
  font-size: 2.4rem;
  color: var(--colors-primary-text);
  font-family: "avenir_black", arial;
  line-height: 1.26;
  margin: 20px 0px;
  margin-top: 0px;
}
@media (min-width: 424px ) {
  .headerBar__title {
    font-size: 2.7rem;
  }
}
@media (min-width: 767px) {
  .headerBar__title {
    font-size: 3rem;
  }
}
.headerBar__p {
  font-size: 1.4rem;
  color: var(--colors-text);
  line-height: 1.5;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  transition: all 0.3s ease;
}
@media (min-width: 767px) {
  .headerBar__p {
    font-size: 1.6rem;
  }
}
.headerBar__expanded {
  font-size: 1.4rem;
  color: var(--colors-text);
  line-height: 1.5;
  -webkit-line-clamp: unset;
}
@media (min-width: 767px) {
  .headerBar__expanded {
    font-size: 1.6rem;
  }
}
.headerBar__btn {
  font-size: 1.4rem;
  color: var(--colors-primary-text);
  line-height: 1.5;
  cursor: pointer;
}
@media (min-width: 767px) {
  .headerBar__btn {
    font-size: 1.6rem;
  }
}

.search__h1 {
  font-size: 2.4rem;
  color: var(--colors-primary-text);
  font-family: "avenir_black", arial;
  line-height: 1.26;
  margin: 20px 0px;
  color: var(--colors-text);
}
@media (min-width: 424px ) {
  .search__h1 {
    font-size: 2.7rem;
  }
}
@media (min-width: 767px) {
  .search__h1 {
    font-size: 3rem;
  }
}

.loader {
  width: 120px;
  height: 22px;
  border-radius: 20px;
  color: var(--colors-text);
  border: 2px solid;
  position: relative;
  margin: 20% auto;
}

.loader::before {
  content: "";
  position: absolute;
  margin: 2px;
  inset: 0 100% 0 0;
  border-radius: inherit;
  background: currentColor;
  -webkit-animation: l6 2s infinite;
  animation: l6 2s infinite;
}

@-webkit-keyframes l6 {
  100% {
    inset: 0;
  }
}
@keyframes l6 {
  100% {
    inset: 0;
  }
}