.loading {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 155px;
  height: 235px;
  box-shadow: var(--shadow);
  border-radius: 15px;
}
.loading-cantFetchData {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  flex-direction: column;
  width: 155px;
  height: 235px;
  box-shadow: var(--shadow);
  border-radius: 15px;
}
.load {
  display: inline-flex;
  gap: 10px;
}
.load:before,
.load:after {
  content: '';
  height: 20px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: radial-gradient(farthest-side, #000 95%, #0000) 35% 35%/6px 6px
    no-repeat #fff;
  transform: scaleX(var(--s, 1)) rotate(0deg);
  animation: l7 1s infinite linear;
}
.load:after {
  --s: -1;
  animation-delay: -0.1s;
}
@keyframes l7 {
  100% {
    transform: scaleX(var(--s, 1)) rotate(360deg);
  }
}
