.notFound {
  width: 100%;
  height: calc(100vh - 72px);
  display: grid;
  grid-template-areas:
    'text1 flower text2'
    'p p p';
  grid-template-columns: 75px 110px 75px;
  grid-template-rows: 120px 50px;
  place-content: center;
  place-items: center;
  gap: 0px;
  @media ($tablet) {
    gap: 0px 10px;
  }

  &__text {
    color: var(--colors-primary-text);
    font-family: $h1;
    font-size: 9rem;
    z-index: 1;
    @media ($tablet) {
      font-size: 13rem;
    }
  }
  &__flower {
    transition: transform 0.3s ease;
    -webkit-animation: rotateAnimation 25s linear infinite;
            animation: rotateAnimation 25s linear infinite;
    grid-area: flower;
    width: 70px;

    @media ($tablet) {
      width: 100px;
    }
  }
  &__p {
    font-size: 2.2rem;
    grid-area: p;
    @media ($tablet) {
      font-size: 3rem;
    }
  }
}
.textOne {
  grid-area: text1;
}
.textTwo {
  grid-area: text2;
}
