@font-face {
  font-family: 'avenir_roman';
  src: url('../../fonts/avenirltstd-roman-webfont.woff2') format('woff2'),
    url('../../fonts/avenirltstd-roman-webfont.woff') format('woff'),
    url('../../fonts/avenirltstd-roman-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'avenir_medium';
  src: url('../../fonts/avenirltstd-medium-webfont.woff2') format('woff2'),
    url('../../fonts/avenirltstd-medium-webfont.woff') format('woff'),
    url('../../fonts/avenirltstd-medium-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'avenir_light';
  src: url('../../fonts/avenirltstd-light-webfont.woff2') format('woff2'),
    url('../../fonts/avenirltstd-light-webfont.woff') format('woff'),
    url('../../fonts/avenirltstd-light-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'avenir_book';
  src: url('../../fonts/avenirltstd-book-webfont.woff2') format('woff2'),
    url('../../fonts/avenirltstd-book-webfont.woff') format('woff'),
    url('../../fonts/avenirltstd-book-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'avenir_black';
  src: url('../../fonts/avenirltstd-black-webfont.woff2') format('woff2'),
    url('../../fonts/avenirltstd-black-webfont.woff') format('woff'),
    url('../../fonts/avenirltstd-black-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'avenir_heavy';
  src: url('../../fonts/avenirltstd-heavy-webfont.woff2') format('woff2'),
    url('../../fonts/avenirltstd-heavy-webfont.woff') format('woff'),
    url('../../fonts/avenirltstd-heavy-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
